//  Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px)
    .background
          background:url(/assets/images/global/footer-bgbase.gif) repeat

    .wrap 
        background:url(../../assets/images/global/footer-bgtop.gif) repeat-x 
        padding: 0px
        margin-top: -10px

    .container
        padding-top: 55px


    h4
        font-weight: bold

    .panel
        margin-top: 10px
        padding: 25px 20px 10px 20px
        background: url('../../assets/images/global/dark_wood.png') #000

    .green
        text-align: center

    .off-white 
        color: #777777

    hr
        border: 0
        clear:both
        display:block
        width: 96%              
        background-color:#777777
        height: 1px

    a
        &:link
            color: white
            text-decoration: none
        &:visited
            color: white
            text-decoration: none
        &:hover
            color: grey
            text-decoration: none
        &:active
            color: white
            text-decoration: none

    .white-deliver
        color: #ffffff
        text-align: center
        margin-top: -5px
        font-size: 30px
        font-family: 'OpenSansCondensedBold',Arial Narrow, sans-serif
        padding: 8px 5px 5px 5px
        background: #ef9c19
        line-height: 1em
        border: solid 3px #ccc
        -webkit-border-radius: 10px
        -moz-border-radius: 10px
        border-radius: 10px
        -webkit-box-shadow: 1px 1px 3px 1px #222
        -moz-box-shadow: 1px 1px 3px 1px #222
        box-shadow: 1px 1px 3px 1px #222
        text-shadow: 2px 1px 3px #b55f02
        filter: drop-shadow(color = #b55f02, offx = 2, offy = 1)
        width: 230px

    .orange
      text-align: left

    #ribbon
        height: 483px
        width: 329px
        margin: -140px 0px 0px 0px
        position: absolute
        z-index: 10000
        background: url(../../assets/images/global/cw-ribbon.png)

    .menu-footer
        text-align: right

    .menu-copyright
        text-align: left

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) and (max-width: 1199px)
    .menu-footer
        text-align: right

    .menu-copyright
        text-align: left
        
// Medium devices (tablets, between 768px and 991px)
@media screen and (min-width: 768px) and (max-width: 991px)
    .menu-footer
        text-align: right

    .menu-copyright
        text-align: left

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) and (max-width: 767px)
    .menu-footer
        text-align: right

    .menu-copyright
        text-align: left
            
@media screen and (max-width: 576px)
    .menu-footer
        text-align: right

    .menu-copyright
        text-align: left

    .panel
        padding: 0px

    #ribbon 
        background: url(../../assets/images/global/cw-ribbon.png)