<div class="container-fluid">
  <div class="row bg-dark justify-content-center">
      <div class="col-sm-3 p-1">
          <img src="../../assets/images/footer/cw-fence-footer-logo.png" alt="">
      </div>
      <div class="col-sm-2 m-1 white">
         <h5> WE ARE HERE</h5>
          3658 W Irving Park Rd.<br />
          Chicago, IL 60618<br />
          Find us on Facebook
      </div>
      <div class="col-sm-2 m-1 white">
         <h5> OUR HOURS</h5>
          WE'RE OPEN<br />
          Monday – Saturday<br />
          11am – 9pm
      </div>
      <div class="col-sm-2 m-1 white">
         <h5> GET CHICKEN WORKS</h5>
          Get Delivery<br />
          Get Catering<br />
          Call Us: 773.588.5488
      </div>
  </div>
</div>
