<div class="container-fluid wrap">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="row center">
                            <div class="col-md ">
                                <img src="../../assets/images/footer/cw-cb-logo-lockup (1).png" alt="">
                            </div>
                            <div class="col-md p-1 white footer-font">
                                <h5>WE ARE HERE</h5>
                                3658 W Irving Park Rd.<br />
                                Chicago, IL 60618<br />
                                Find us on Facebook
                            </div>
                            <div class="col-md p-1 white footer-font">
                                <h5>OUR HOURS</h5>
                                WE'RE OPEN<br />
                                Monday – Saturday<br />
                                11am – 9pm
                            </div>
                            <div class="col-md p-1 white footer-font">
                                <h5>GET CHICKEN WORKS</h5>
                                Get Delivery<br />
                                Get Catering<br />
                                Call Us: 773.588.5488
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="copyright">
    © Chicken Works and Salad Company - Flame-Broiled Chicken and Salad Bar
</div>