<div class="background">

<div class="wrap">
<div class="container">
  <div class="panel">
  <div class="row">
    <div class="col">
              <h4 class="green">OPEN<br />Monday – Friday<br />11am – 8:30pm<br />Saturday<br /> Noon - 7PM</h4>
              <h4 class="white center">CALL<br />773.588.5488</h4>
              <img src="../../assets/images/icons/CW-WeDeliver-Icon-240x135.png" width="240" height="135" alt="CW WeDeliver Icon 240x135">
              <div class="white-deliver">We Deliver!</div>
    </div>
        <div class="col-4">
          <span id="ribbon"></span>
        </div>
    <div class="col">
              <h4 class="orange">WE ARE HERE</h4>
              <h4 class="white left">3658 W Irving Park Rd.<br /> Chicago, IL 60618</h4>
              <h4 class="white left">Find us on 
                <a href="http://www.facebook.com/pages/Chicken-Works-Salad-Company/157399364282609" target="_blank">
                  <img src="assets/images/social/facebook-logo-button.gif" width="80" height="30" alt="Facebook Logo Button">
                </a>
              </h4>
                <img src="../../assets/images/global/location-sign.png" width="250">
    </div>

  </div>
<br />

  <div class="row off-white">
        <hr>

    <div class="col menu-copyright left">
            &copy;2018 Chicken Works and Salad Company.
    </div>
    <div class="col menu-footer right">
            <a routerLink="home">HOME</a> | 
            <a routerLink="menu">MENU</a> | 
            <a routerLink="catering">CATERING</a> | 
            <a routerLink="community">COMMUNITY</a> | 
            <a routerLink="contact">CONTACT</a>
            
    </div>
  </div>
  </div>
</div>
</div>
</div>
