

// old styles start


/* Global Structure ============================================================= */
// break point large


/* ============================= header ====================== */



// background of navbar
.farm-sky { background:url(../assets/images/global/header-farm-bg.png) top center no-repeat;}

// this is the line at the bottom of the menu
.line{height:5px; background:rgb(252, 245, 245);}


/* Global properties ======================================================== */
// body{

// 	border:0; 
// 	// font:14px "helvetica", Arial, Helvetica, sans-serif;color:#696969;
// 	line-height: normal;
// 	// Push down body content to get it out from under the menu
// 	margin-top: 9em;
// }
.ic, .ic a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.css3{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 4px rgba(0, 0, 0, .4);-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);position:relative}
.body1{background:url('../assets/images/global/blue-noise-bg.jpg') bottom center repeat; padding:0px; margin:0px;}
.body2{background:#000; padding:0px; margin:0px;}
.body3{background:url('../assets/images/global/white_plaster.jpg'); padding:0px 0px 80px 0px; margin:0px;}
.body4{background:url('../assets/images/global/footer-bgtop.gif') repeat-x; padding:0px; margin:0px;}
.body5{background:url('../assets/images/global/bg_top_img.jpg') center bottom no-repeat; padding:0px; margin:0px;}
.page-header{
	height:125px;
	background:url('../assets/images/global/dark_wood.png')top center repeat-x;
	overflow:hidden;
	border-bottom:solid 10px #000;
	}
	
#page-header-title{
	width:960px;
	margin:0px auto;
	font-size:45px;
	padding-top:40px;
	font-family: 'OpenSansCondensedBold', Arial Narrow, sans-serif;
	font-weight:normal; 
	text-transform:uppercase;
	font-style:normal;
	text-align:center;
	line-height:1.2em;
	color:#fff;
	text-shadow: 0px 4px 3px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
	
}

#page-header-title-tl{
	width:960px;
	margin:0px auto;
	font-size:45px;
	padding-top:22px;
	font-family: 'OpenSansCondensedBold', Arial Narrow, sans-serif;
	font-weight:normal; 
	text-transform:uppercase;
	font-style:normal;
	text-align:center;
	line-height:1.1em;
	color:#fff;
	text-shadow: 0px 4px 3px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
	
}

/* ============================= Navigation ====================== */




#menu {padding-top:44px;}
#menu li {
	// display:inline;
    margin-left:15px;
    list-style:none;
	}


#seamless {
	height:76px;
	width:121px;
	position:absolute;
	padding-right:20px;
	top:0;
	right:0;
	z-index:2000;
}

#seamless a img {border:none;}
#seamless a img:hover { height:78px; width:123px;}

// #slides {
 


//   }

.slider {top:166px;position:absolute;z-index:1}
.slider .items{display:none}
.slider  .pagination{position:absolute;z-index:2;bottom:47px;left:432px}
.slider  .pagination li{float:left;padding-right:4px}
.slider  .pagination a{display:block;width:16px;height:16px;text-indent:-9999px;background:url(../assets/images/buttons.png) right 0 no-repeat}
.slider  .pagination a:hover, .slider  .pagination .current a{background-position:left}





/*======= Home =======*/



/*======= Homepage body =======*/

#wwd-box {

	border:solid 5px #000;
	float:left;
	width:660px;
	height:295px;
	margin-top:0px;
	position:relative;
	z-index:1000;
	
	-moz-border-radius: 15px; /* Firefox */
	-webkit-border-radius: 15px; /* Safari and Chrome */
	border-radius: 15px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
	
	-moz-box-shadow: 5px 5px 10px #999; /* Firefox */
	-webkit-box-shadow: 5px 5px 10px #999; /* Safari and Chrome */
	box-shadow: 5px 5px 10px #999; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
}

.wwd-head { 
	padding: 5px; 
	font-size:80px; 
	margin:0px;
}
ul#wwd {
	float:left;
	margin-left:-80px;
	width:250px;
	list-style:none;
	z-index:100;
	padding:10px;
}

ul#wwd  li{
	width:184px;
	height:91px;
	float:left;
}

ul#wwd li.fbc a{
	display:block;
	width:184px;
	height:91px;
	float:left;
	padding-left:35px;
	
}

ul#wwd  li.ss a{
	display:block;
	width:184px;
	height:91px;
	float:left;
	padding-left:95px;
	
}

ul#wwd li.sw a{
	display:block;
	width:184px;
	height:91px;
	float:left;
	padding-left:65px;
	
}

ul#wwd  li a img{
	border:none;
}

#wwd-store{
	float:left;
	padding-top:20px;
	height:258px;
	width:431px;
	margin-left:-5px;
}

.testimonials{width:100%;position:relative;z-index:1;height:320px; overflow:hidden;}
#testimonials div{background:url(../assets/images/bg_testimonials.gif) 0 bottom no-repeat #fff;padding:25px 27px 53px 29px}
#testimonials span{display:block;padding:0 0 0 11px;font-style:normal}
.testimonials li{height:320px; font-style:italic;}
.yelp {margin-top:0px; height:74px; width:147px;}
// END HOMEPAGE CONTENT

/*======= Menu =======*/
#page2 .body2{ background:#000; position:absolute; width:100%;}
// #page2 .body3{background:url('../assets/images/menu/menu-flame-bg.gif') no-repeat center bottom #000;}
#page2 h3{ line-height:2.1em; margin-bottom:1px;}
#page2 figure{ padding-bottom:19px;}

/*======= index-2.html =======*/
/*======= index-3.html =======*/
#page4 .cols{ width:270px;}
#page4 h3{ line-height:2.1em; margin-bottom:1px;}
#page4 figure{ padding-bottom:19px;}
#page4 .pad_bot2{ padding-bottom:48px;}

// END OLD STYLES

// Override Bootstrap box-sizing
* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}



h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }
}

