@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
    
    
.logo
    max-width: 18em
    object-fit: contain

// the three horizontal bars that open the menu
svg
    margin-bottom: -20px
    margin-left: 50px
    @include media-breakpoint-up(xs)
       margin-left: 0


.menu    
    font-family: PT Sans
    font-size: 16px
    font-weight: bolder
    letter-spacing: 1px
    text-transform: uppercase

.nav-menu
    background-color: rgba(255, 255, 255, 0.9)
    // min-width: 100%
    height: auto


.link-active
    color: #ff8400 !important

a
    &:link
        color: #000
    &:visited
        color: #000
    &:hover
        color: #ff8400
    &:active
        color: #ff8400

.fixed
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
