
<div id="">

        <!-- <div class="wrapper">
          <div class="body2">
            <div class="center">

   
              <img src="assets/images/sliders/farm-fresh.png" width="730" height="261" alt="Farm Fresh">
              <img src="assets/images/sliders/homemade.png" width="730" height="261" alt="Homemade" *ngIf="slideShow2">
              <img src="assets/images/sliders/wholesome.png" width="730" height="261" alt="Wholesome" *ngIf="slideShow3">
              <img src="assets/images/sliders/locally-owned.png" width="730" height="261" alt="Locally Owned" *ngIf="slideShow4">

            </div>
          </div>
        </div>-->
<div class="masthead">
  <!-- <img src="../../../assets/images/home/chicken-saladbar-masthead.jpg" alt=""> -->
<div class="container masthead">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
          content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>

    </div>
  </div>
</div>
</div>



  <div class="body3">
    <div class="container">
      <div class="row">
        <!-- content -->
          <div class="col">
            <article id="content">
              <div class="row">
                <!-- <div class="col">
                  <h2 class="wwd-head">What We Do</h2>
                  <section class="col1 " id="wwd-box">

                    <div id="wwd-store"><img src="assets/images/icons/cw-store-arrows.png" width="431" height="258" alt="Cw Store Arrows"></div>
                    <ul id="wwd">
                      <li class="fbc"><a href="menu.html"><img src="assets/images/icons/fbc-sides-icon.png" width="184" height="91" alt="Fbc Sides Icon"></a></li>
                      <li class="ss"> <a href="menu.html"><img src="assets/images/icons/soup-salad-icon.png" width="184" height="91" alt="Soup Salad Icon"></a></li>
                      <li class="sw"> <a href="menu.html"><img src="assets/images/icons/sand-wrap-icon.png" width="184" height="91" alt="Sand Wrap Icon"></a></li>
                    </ul>

                  </section>
               </div> -->
               <!-- <div class="col">

               </div> -->
                <div class="col">

                    <div class="yelp"><img src="assets/images/social/yelp.png" width="147" height="74" alt="Yelp"></div>

                    <div id="testimonials" class="testimonials">

                      <ul>
                        <li>
                          <div>
                            “I love this place! It is always super clean and inviting, with great customer service. I love the
                            fresh salad bar. I have gotten the chicken works wrap several times. Delicious.”
                          </div>
                        </li>
                        <li>
                          <div>
                            “The chicken here is awesome. The sides here are awesome. The service is awesome. Whoever owns this
                            place, kudos. You've come up with an inexpensive and large portioned way to make delicious chicken
                            fast.”
                          </div>
                        </li>
                        <li>
                          <div>
                            “This place is awesome. Great people. Great Food. Amazing side dishes....try the green beans! We here
                            at Albany Auto love their food, people and delivery service. Its healthy, affordable, and always
                            tastes great. Highly recommended to any and all!!”
                          </div>
                        </li>
                        <li>
                          <div>
                            “The grilled chicken is great! I like the salad bar where you can make your own salad, be charged by
                            the pound, and take it to go. I will be a patron for a long time.”
                          </div>
                        </li>
                        <li>
                          <div>
                            Great healthy food. Great salad bar. Glad something like this moved into the area.
                          </div>
                        </li>
                        <li>
                          <div>
                            <a href="http://www.yelp.com/biz/chicken-works-and-salad-company-chicago" target="_blank">
                              <h2>READ MORE...</h2>
                            </a>
                          </div>
                        </li>
                      </ul>
                      <a href="#" class="up"></a>
                      <a href="#" class="down"></a>
                    </div>

                </div>
              </div>
          </article>  
        </div>
      </div>
    </div>
  </div>



</div>