<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
        <img src="../../../assets/images/home/chicken-saladbar-masthead.jpg" alt="" class="">
    </div>
  </div>
  <div class="row p-5">
    <div class="col">
        <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
          <img src="../../../assets/images/home/cw-dine-in-icon.png" alt="" class="icons">
          Menu
        </a>
    </div>
    <div class="col">
      <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
        <img src="../../../assets/images/home/cw-catering-icon.png" alt="" class="icons">
        Catering
      </a>
    </div>
    <div class="col">
      <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
                <img src="../../../assets/images/home/cw-deliver-icon.png" alt="" class="icons">
        Delivery
      </a>

    </div>
   </div>
  <hr>
   <div class="row bg">
      <div class="col justify-content-center bg-community p-3 m-3">
          <img src="../../../assets/images/home/chicago-best-promo.jpg" alt="" class="community">
            Part of Chicago's Best<br />
            content <br />
          <button type="button" class="btn btn-success">Link</button>
        </div>

      <div class="col bg-community p-3 m-3">
             <img src="../../../assets/images/home/cw-food-promo2.jpg" alt="" class="community">
                Part of Chicago's Best<br />
                content <br />
              <button type="button" class="btn btn-success">Link</button>
      </div>
   </div>
    <div class="row">
      <div class="col">
    
      </div>
      <div class="col">
      
      </div>
      <div class="col">
      
      </div>
    </div>
    <div class="row">
      <div class="col">
    
      </div>
    </div>
</div>