<div class="body3">
  <div class="wrapper page-header">
    <div id="page-header-title" class="white">We take pride in supporting our community.</div>
  </div>
  <div class="main">
    <!-- content -->
    <article id="content">

      <div class="wrapper">
        <img src="assets/images/community/CW-community-cs.gif" align="" center="middle" width="563" height="387" alt="CW Community Cs" />

      </div>

      <!--facebook feed-->
      <iframe src="http://www.facebook.com/plugins/likebox.php?id=157399364282609&amp;width=600&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=false"
        scrolling="no" frameborder="0" allowTransparency="true" id="facebook-feed"></iframe>
  </article>
  </div>


</div>
