<div class="page_title">
  <h1 class="amatic white">
    WE’D LOVE TO SEE YOU
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col cell mt-2 ml-5 mr-5">
      <div class="row">
        <div class="col location-head">

        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="g-map">
            <iframe width="600px" height="600px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=3658+W+Irving+Park+Rd.+Chicago,+IL+60618&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.981213,89.736328&amp;ie=UTF8&amp;hq=&amp;hnear=3658+W+Irving+Park+Rd,+Chicago,+Illinois+60618&amp;t=m&amp;ll=41.959299,-87.719822&amp;spn=0.022339,0.080681&amp;z=14&amp;output=embed">
            </iframe>
          </div>
        </div>
        <div class="col">

        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="amatic questions">QUESTIONS? COMMENTS? WE'RE LISTENING.</div>
        </div>
      </div>
      <form id="" class="contact_form_wrapper" method="post" action="">
        <div class="row">
          <div class="col">
            <input type="hidden" id="action" name="action" value="">
            <label for="your_name"></label>
            <input id="your_name" name="your_name" type="text" class="required_field" placeholder="Name *">
          </div>
          <div class="col">
            <label for="email"></label>
            <input id="email" name="email" type="text" class="required_field email" placeholder="Email *">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="message"></label>
            <textarea id="message" name="message" rows="7" cols="10" class="required_field" placeholder="Message *"></textarea>
            <input id="" name="" type="submit" class="solidbg" value="Send">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>