// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px)
    .menu-title
        text-align: center
        font-size: 2em
        font-weight: bold
        text-transform: uppercase
        padding-bottom: -2px
        margin-top: .5em

    .flame
        // padding 0 1px 3px 1px

    img 
        vertical-align: baseline

    .menu-item
        text-align: center
        font-size: 1em
        font-weight: lighter
        img 
            vertical-align: bottom
        h4 
            margin-top: .5em
            margin-bottom: 0
    
// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) and (max-width: 1199px)
    .menu-item
        text-align: center
        font-size: 1em
        font-weight: lighter
        img 
            vertical-align: bottom
        h4 
            margin-top: .5em
            margin-bottom: 0
        
// Medium devices (tablets, between 768px and 991px)
@media screen and (min-width: 768px) and (max-width: 991px)
    .menu-item
        text-align: center
        font-size: 1em
        font-weight: lighter
        img 
            vertical-align: bottom
        h4 
            margin-top: .5em
            margin-bottom: 0

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) and (max-width: 767px)
    .menu-item
        text-align: center
        font-size: 1em
        font-weight: lighter
        img 
            vertical-align: bottom
        h4 
            margin-top: .5em
            margin-bottom: 0
                
@media screen and (max-width: 576px)
    .menu-item
        text-align: center
        font-size: 1em
        font-weight: lighter
        img 
            vertical-align: bottom
        h4 
            margin-top: .5em
            margin-bottom: 0