// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px)
    .menu-body
        // display: table
        max-width: 80%
        margin: 0 10% 0 10%
    ul 
        list-style-type: none
        margin: 0
        padding: 0
    .menu_price
        text-align: right

    .cell
        // display: table-cell
        // -ms-flex: 0 0 230px;
        // flex: 0 0 230px;

    
    .page_title
        background-color: #1b1b1b
        padding: 10px
        h1 
            font-size: 4em
            margin-left: 1em
    .titles
        font-size: 4em

    .img_ribbon
        float: left
        max-width: 35em
        height: auto
        padding: 2em

        // .image-clip
        //     -webkit-clip-path: inset(0% 5% 0% 5%);
        //     clip-path: inset(0% 5% 0% 5%);
        //     height: 20em;
        //     margin: 0 -10px 0 -10px
        //      padding: auto
        //      display: block
        //      margin: auto
        //      width: 80em
        //      height: 20em
        //      object-fit: cover

    .half-chicken
        background-image: url(../../../assets/images/menu/flame-broiled-chicken.jpg)
        background-size: cover
        background-position: center center
        height: 400px
        position: relative
        margin: 2em 0 2em 0


    .page_content_wraps
        background-image: url(../../../assets/images/menu/wraps.jpg)
        background-size: cover
        background-position: center center
        height: 400px
        position: relative
        margin: 2em 0 2em 0

    .soup
        background-image: url(../../../assets/images/menu/soup-sandwhich1.jpg)
        background-size: cover
        background-position: center top
        height: 400px;
        position: relative
        margin: 2em 0 2em 0

    .salad-bar
        background-image: url(../../../assets/images/menu/salad-bar.jpg)
        background-size: cover
        background-position: center top
        text-align: center
        padding: 140px 0 140px 0
        color: #ffffff
        margin: 2em 0 2em 0

    .menu-post
        width: 20em
        
    // .menu_price
    //     text-align: right 
    // .menu_title
    //     text-align: left
    .container
        max-width: 30em



// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) and (max-width: 1199px)
    .menu-item
        text-align: center

        
// Medium devices (tablets, between 768px and 991px)
@media screen and (min-width: 768px) and (max-width: 991px)
    .menu-item
        text-align: center
        

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) and (max-width: 767px)
    .menu-item
        text-align: center

                
@media screen and (max-width: 576px)
    .menu-item
        text-align: center
