<div class="page_title">
  <h1 class="amatic white">
    LET US CATER FOR YOU
  </h1>
</div>
<div class="row catering-body">
  <div class="col cell mt-2 ml-5 mr-5">




    <div class="row">
      <div class="col-8 mt-5">
        <img src="../../../assets/images/catering/CW-Catering-Photo-A-1.jpg" width="100%" alt="">
      </div>
      <div class="description-float">
        <span class="bold">Catering Ordering</span>
          <p>
            Chicken Works & Salad Company requests at least 24 hours advance notice for all catering orders. However, we will try
            and accommodate your last minute needs.
          </p>
        <span class="bold">Catering Delivery</span>
        <p>
            Our minimum catering delivery order is $50.00. All catering orders are subject to a 10 percent delivery fee.
        </p>
        <span class="bold red">Cancelation</span>
        <p>
            There is no charge for orders cancelled up until ONE DAY prior to scheduled delivery. Our minimum catering delivery
            order is $50.00. All catering orders are subject to a 10 percent delivery fee.
        </p>
        <p class="red">
          50 PERCENT CANCELLATION CHARGE if the order is canceled the day of the scheduled delivery.
        </p>

        <p class="italic">CATERING PRICING DOES NOT INCLUDE TAX.</p>
          <button class="btn btn-success btn-lg">
            <a href="https://ordering.chownow.com/order/11109/locations" class="src" target="_blank">
              PLACE AN ORDER </a>
          </button>
      </div>
    </div>
    <hr class="m-5">
    <div class="row">
      <div class="col d-flex justify-content-center m-5">
        <span class="catering-menu-title amatic">
          OUR CATERING MENU
        </span>

      </div>
    </div>
    <div class="row">
      <div class="col">
          <span class="amatic fbc">
            Flame-Broiled Chicken
          </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="description-float">
          <div class="amatic">Menu Content</div>
        </div>
      </div>
      <div class="col-8 mt-5">
        <img src="../../../assets/images/catering/flame-broiled-chicken.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col">
                  <p class="m-1">We proudly accept:<br>
                    <img class="charge" src="../../../assets/images/menu/charge/visa-dark.png">
                    <img class="charge" src="../../../assets/images/menu/charge/mastercard-dark.png">
                    <img class="charge" src="../../../assets/images/menu/charge/discover-dark.png">
                    <img class="charge" src="../../../assets/images/menu/charge/american-express-dark.png">
                  </p>
      </div>
    </div>
  </div>
</div>
