<div class="body3">
  <div class="wrapper page-header">
    <div id="page-header-title-tl" class="white">A tasty catering alternative to your meeting, luncheon, event or
      gathering.</div>
  </div>


      <!-- ordering information callout -->

          <div class="container p-1">
            <div class="row">
              <div class="col">
                <h4 class="red">ORDERING</h4>
                <p>Chicken Works &amp; Salad Company requests at least 24 hours advance notice for all catering orders.
                  However, we will try and accommodate your last minute needs.</p>
                <h4 class="red">DELIVERY</h4>
                Our minimum catering delivery order is $50.00. All catering orders are subject to a 10 percent delivery fee.
              </div>
              <div class="col">
                <h4 class="red">CANCELLATION</h4>
                <p>There is no charge for orders cancelled up until ONE DAY prior to scheduled delivery.</p>
                <p>Our minimum catering delivery order is $50.00. All catering orders are subject to a 10 percent delivery
                  fee.</p>
                <p class="red"><em>50 PERCENT CANCELLATION CHARGE if the order is canceled the day of the scheduled delivery.</em></p>
              </div>
            </div>
          </div>





    <div class="menu-item">
      <strong>We accept:</strong>
      <img src="assets/images/menu/discover.gif" width="78" height="50" alt="Discover">
      <img src="assets/images/menu/mastercard.gif" width="78" height="50" alt="Mastercard">
      <img src="assets/images/menu/visa.gif" width="78" height="50" alt="Visa">
      <img src="assets/images/menu/AMEX.png" width="78" height="50" alt="AMEX">

    </div>




</div>